* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: rgb(208, 210, 212);
  margin: 0 auto;
}
/* -----------------portrait mobile------------------------ */
@media (max-width: 479px) {
  /* ------------------hdr----------------------- */
  header {
    width: 100vw;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  nav {
    display: flex;
    padding: 0.5rem 0.5rem;
    justify-content: space-between;
    align-items: flex-start;
  }

  .nav-links {
    flex: 1;
    text-align: right;
  }

  .nav-links ul li {
    display: inline-block;
    padding: 0.4rem;
    margin-top: 0.3rem;
  }

  .nav-links ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 4.5vw;
    text-transform: capitalize;
    letter-spacing: 0.1em;
    padding: 0.1em;
  }

  nav span {
    font-size: 4vw;
    margin-top: 0.8rem;
    position: relative;
    left: 1.2rem;
    text-transform: uppercase;
    color: whitesmoke;
    place-content: center;
    place-items: center;
    letter-spacing: 0.1em;
  }

  i {
    font-size: 8vw;
    position: relative;
    left: 0.7rem;
    margin-top: 0.6rem;
  }
}
/* ------------------------main container----------------------------------- */

.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)),
    url(../images/space1.jpg);
  background-position: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin-top: 2rem;
}

.info-box {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 5rem;
  gap: 1rem;
  text-align: center;
}

.info-box h1 {
  width: 100%;
  background-image: linear-gradient(10deg, orange, purple);
  padding: 0.5em;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  font-size: 6.3vw;
}

.info-box p {
  width: 100%;
  background-image: linear-gradient(10deg, orange, purple);
  padding: 0.8em;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 1.5rem;
  font-size: 5vw;
  line-height: 150%;
}

.form-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  padding: 0.2rem;
  margin-top: 5rem;
  margin-bottom: 6rem;
  background-color: rgba(193, 187, 187, 0.2);
}

.form-des {
  width: 100%;
}

.form-des h2 {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
  color: whitesmoke;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  margin-top: 2rem;
  font-size: 7.3vw;
}

.form-des p {
  text-align: center;
  font-size: 5vw;
  padding: 0.8em;
  text-transform: capitalize;
  color: whitesmoke;
  word-spacing: 0.1em;
  margin-top: 2rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  place-content: center;
  place-items: center;
  gap: 1.2em;
  width: 90%;
  padding: 2rem;
}

input {
  font-size: 5vw;
  line-height: 100%;
}

input::placeholder {
  font-size: 1em;
  text-align: center;
}

form a {
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 4.5vw;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  position: relative;
  top: 0.5rem;
  background-color: black;
  color: whitesmoke;
  letter-spacing: 0.05em;
  text-transform: uppercase;
} /* ------------main-container2---------------------- */

.main-container2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5rem;
}

.stars {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.main-container2 h1 {
  width: 80%;
  background-color: black;
  color: aliceblue;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 5vw;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  text-align: center;
}

.main-container2 h2 {
  font-size: 5vw;
  margin-top: 1.2rem;
}

.main-container2 p {
  padding: 1em;
  font-size: 4.5vw;
  text-align: center;
}

.earth {
  width: 100%;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  background-color: rgb(151, 151, 151);
  text-transform: capitalize;
  text-align: center;
  padding: 2em;
}

.mars {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  padding: 2em;
}

.moon {
  width: 100%;
  text-align: center;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  background-color: rgb(151, 151, 151);
  text-transform: capitalize;
  padding: 2em;
}

.main-container2 img {
  max-width: 70%;
  height: auto;
  clip-path: circle(34% at 53% 50%);
}

.earth img {
  position: relative;
  right: 1.5rem;
}

.mars img {
  position: relative;
  right: 1rem;
}

.moon img {
  position: relative;
  right: 1rem;
}

.about-nft {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-image: linear-gradient(
      rgba(52, 53, 59, 0.3),
      rgba(53, 55, 59, 0.3)
    ),
    url(../images/pink-moon.png);
  background-attachment: scroll;
  background-position: 53%;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-nft h2 {
  width: 100%;
  letter-spacing: 0.1em;
  font-size: 5vw;
  word-spacing: 0.2em;
  text-transform: capitalize;
  text-align: center;
  padding: 0.6em;
  color: white;
  background: linear-gradient(200deg, orange, purple);
}

.about-nft p {
  letter-spacing: 0.1em;
  text-align: center;
  word-spacing: 0.1em;
  text-transform: capitalize;
  padding: 2em;
  line-height: 170%;
  font-size: 4vw;
  color: aliceblue;
}

/* ---------------main container 3----------------------------------- */
.main-container3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 90%;
  margin-top: 2rem;
  position: relative;
  left: 1.8rem;
  gap: 1.5rem;
}

.main-container3 img {
  width: 50%;
  clip-path: circle(40% at 50% 50%);
}

.opinion1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  place-content: center;
  place-items: center;
  text-align: center;
  width: 100%;
  gap: 1rem;
  padding: 1em;
}

.opinion1 p {
  font-size: 4vw;
  letter-spacing: 0.1em;
  line-height: 150%;
}

.opinion1 h2 {
  position: relative;
  top: 1.5rem;
  text-transform: capitalize;
  letter-spacing: 0.05em;
  font-size: 5vw;
}

.line {
  margin: auto;
  margin-top: 4rem;
  border: 1px solid black;
  width: 90%;
}

.opinion2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  place-content: center;
  place-items: center;
  text-align: center;
  width: 100%;
  gap: 1rem;
  padding: 1em;
}

.opinion2 p {
  font-size: 4vw;
  letter-spacing: 0.1em;
  line-height: 150%;
}

.opinion2 h2 {
  margin-left: 1.5rem;
  text-transform: capitalize;
  letter-spacing: 0.05em;
  padding: 1em;
  font-size: 5vw;
}

.opinion2 img {
  position: relative;
  top: 3.5%;
}

/* --------------------ftr-------------------------- */
.allfoot {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.foot {
  width: 100%;
  padding: 3rem;
}

.foot p {
  font-size: 6vw;
  width: 100%;
  text-transform: capitalize;
  margin-top: 3rem;
  text-align: center;
  color: whitesmoke;
}

.photos {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-evenly;
  width: 100%;
  padding: 4em;
  text-align: center;
  color: whitesmoke;
}

.photos h2 {
  margin-bottom: 2rem;
}

.down {
  display: flex;
  justify-content: space-around;
}

.down > a > .fa-brands {
  color: purple;
  font-size: 10vw;
}

.subscribe {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 1rem;
}

.subscribe form {
  text-align: center;
  height: auto;
}

.subscribe form h3 {
  text-align: center;
  font-size: 5.5vw;
  color: #fff;
  margin-bottom: -3rem;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}

.subscribe form label {
  text-align: center;
  font-size: 5vw;
  width: 100%;
  padding: 5rem;
  color: whitesmoke;
  margin-bottom: -5rem;
  text-transform: capitalize;
}

button {
  border: 2px;
  color: white;
  background-color: silver;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding-inline: 6rem;
  padding-block: 1rem;
  font-size: 1.5rem;
  position: relative;
  left: 0.3rem;
}
